@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,600,800);

:root {
	--base-background-color: var(--color-white);
	--base-color: var(--color-white);
	--base-font-family: 'Open sans', sans-serif;
	--base-font-size: 16px;
	--base-line-height: 1.7;
	--base-link-color: var(--color-white);
	--base-link-color-hover: var(--color-gray);
	--base-font: lighter var(--base-font-size)/var(--base-line-height) var(--base-font-family);
	--base-max-width: 1400px;
	--base-transition: all 0.15s ease-out;
}

* {
	box-sizing: border-box;
}

html {
	font: var(--base-font);
	color: var(--base-color);
	background-color: var(--base-background-color);
	letter-spacing: 1px;
}

body {
	&:before,
	&:after {
		content: "";
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
	}

	&:before {
		background-image: url(../img/bg.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}

	&:after {
		background-color: var(--base-background-color);
		opacity: 0.35;
	}
}

a {
	transition: var(--base-transition);
	text-decoration: none;
	color: var(--base-link-color);
}

a:hover,
a:active,
a:focus {
	color: var(--base-link-color-hover);
}

img {
	max-width: 100%;
	vertical-align: middle;
}
